[Unit]
Description=Dynamic display configuration https://wayland.emersion.fr/kanshi/
Documentation=https://github.com/emersion/kanshi/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=kanshi
Restart=always

[Install]
WantedBy=sway-session.target
