/*
*
* Base16 Vestfirðir
* Author: Hilmar Gústafsson (LiHRaM)
*
*/

$base00: #0a1829;
$base01: #09213f;
$base02: #033066;
$base03: #283543;
$base04: #3f464e;
$base05: #1e5387;
$base06: #365b80;
$base07: #585651;
$base08: #3271a9;
$base09: #1992ea;
$base0A: #468fcd;
$base0B: #978872;
$base0C: #379ff1;
$base0D: #6696c7;
$base0E: #71b4f3;
$base0F: #ffffff;
