/*
*
* Base16 Kirkjufell
* Author: Hilmar Gústafsson (LiHRaM)
*
*/

$base00: #000000;
$base01: #1f1f22;
$base02: #36301e;
$base03: #594830;
$base04: #495c36;
$base05: #565653;
$base06: #775d1c;
$base07: #796349;
$base08: #9b8978;
$base09: #9b8e50;
$base0A: #8c9a84;
$base0B: #8f97a7;
$base0C: #7ba64a;
$base0D: #97e945;
$base0E: #b6e488;
$base0F: #ffffff;
